In [0]:
-- Create or replace the table 'csv_bronze' to read the raw CSV data into a temporary table
CREATE
OR REPLACE TABLE csv_bronze AS
SELECT
  *
FROM
  read_files(
    "/Volumes/dbacademy/dawd_v2/importing/data.csv",
    format => "csv",
    header => false,
    skipRows => 1,
    escape => '"',
    -- reads the quoted json string as a single column
    inferSchema => false -- I'll create my own schema in the next query
  );
-- Create or replace the 'customers' table with a custom schema by casting specific columns
  CREATE
  OR REPLACE TABLE customers AS
SELECT
  CAST(_c13 AS BIGINT) customer_id,
  CAST(_c14 AS DOUBLE) tax_id,
  _c15 AS tax_code,
  _c16 AS customer_name,
  _c17 AS state,
  _c18 AS city,
  _c19 AS postcode,
  _c20 AS street,
  _c21 AS number,
  _c22 AS unit,
  _c23 AS region,
  _c24 AS district,
  CAST(_c25 AS DOUBLE) lon,
  CAST(_c26 AS DOUBLE) lat,
  _c27 AS ship_to_address,
  CAST(_c28 AS BIGINT) valid_from,
  CAST(_c29 AS DOUBLE) valid_to,
  CAST(_c30 AS DOUBLE) units_purchased,
  CAST(_c31 AS BIGINT) loyalty_segment
FROM
  csv_bronze
where
  _c0 IS NULL
  AND _C8 IS NULL;
-- Create or replace the 'sales' table with a custom schema by casting specific columns
  CREATE
  OR REPLACE TABLE sales AS
SELECT
  CAST(_c1 AS BIGINT) customer_id,
  _c2 AS customer_name,
  _c3 AS product_name,
  CAST(_c4 AS DATE) order_date,
  _c5 AS product_category,
  _c6 AS product,
  CAST(_c7 AS DOUBLE) total_price
FROM
  csv_bronze
WHERE
  _c0 = 'sales';